.App {
  text-align: center;
  justify-content: center;
}
#root{
  text-align: center;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

.Nav_link:link {
  color: black;
  font-size: 1.2rem;
  line-height: 1rem;
  text-decoration: none;
}
.Nav_link:visited {
  color: black;
}

.Nav_link:active {
  color: darkblue;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
