.App {
  text-align: center;
}
#root{
  text-align: center;
}

.App-link {
  color: #61dafb;
}
.main-page{
  align-items: center;
  justify-content: center;
}
.emp-class{
  align-items: center;
  justify-content: center;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
